version: 2

updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
      time: '04:00'
      timezone: America/New_York

  - package-ecosystem: npm
    directory: '/'
    versioning-strategy: increase
    schedule:
      interval: monthly
      time: '04:00'
      timezone: America/New_York
    groups:
      prod:
        dependency-type: production
      dev:
        dependency-type: development
    ignore:
      - dependency-name: '@playwright/test'
      - dependency-name: 'node-fetch'
        update-types:
          - 'version-update:semver-major'
