#my-anchor {
  anchor-name: --my-anchor;
  background: orange;
  width: 100px;
  height: 100px;
}

#my-floating {
  position: absolute;

  --center: anchor(--my-anchor 50%);

  top: var(--center);
  left: calc(var(--center));
  background: green;
}
