@media all {
  #my-anchor-media-query {
    anchor-name: --my-anchor-media-query;
  }
}

#my-target-media-query {
  position: absolute;
  top: anchor(--my-anchor-media-query bottom);
  left: anchor(--my-anchor-media-query right);
}
