#my-anchor-props {
  anchor-name: --my-anchor-props;
}

#my-floating-props {
  position: absolute;

  --center: anchor(--my-anchor-props 50%);
  --half-distance: calc(var(--center) + 100px);

  top: var(--center);
  left: var(--half-distance);
}
