#my-anchor-popover-position-area {
  position: absolute;
  left: 200px;
  anchor-name: --my-anchor-popover-position-area;
}

#my-target-popover-position-area {
  position: absolute;
  margin: 0;
  inset: 10px;
  position-anchor: --my-anchor-popover-position-area;
  position-area: end;
}
