#my-anchor-math {
  anchor-name: --my-anchor-math;
  background: orange;
  width: 100px;
  height: 100px;
}

#my-floating-math {
  position: absolute;

  --center-math: anchor(--my-anchor-math 50%);

  top: var(--center-math);
  left: calc(var(--center-math) + 100px);
  background: green;
}
