#my-anchor-positioning {
  anchor-name: --my-anchor-positioning;
}

#my-target-positioning {
  position: absolute;
  right: anchor(--my-anchor-positioning right, 50px);
  top: anchor(--my-anchor-positioning bottom);
}
