#my-anchor-inset-shorthand {
  anchor-name: --my-anchor-inset-shorthand;
}

#my-target-inset-shorthand {
  position: absolute;
  position-anchor: --my-anchor-inset-shorthand;
  inset-block: anchor(inside);
  inset-inline: anchor(start) 20px;
  opacity: 0.8;
}
