#my-anchor-props {
  anchor-name: --my-anchor-props;
}

#my-target-props {
  --center: anchor(--my-anchor-props 50%);
  --half-distance: calc(var(--center) + 100px);

  position: absolute;
  left: var(--half-distance);
  top: var(--center);
}
