#scroll-container {
  width: 400px;
  height: 400px;
  overflow: scroll;
}

#scroll-contents {
  width: 1000px;
  height: 1000px;
  position: relative;
}

#placefiller-above-anchor {
  height: 500px;
}

#placefiller-before-anchor {
  display: inline-block;
  width: 500px;
}

#scroll-anchor {
  anchor-name: --scroll-anchor;
  background: orange;
}

#inner-anchored {
  position: absolute;
  right: anchor(--scroll-anchor start);
  bottom: anchor(--scroll-anchor top);
  background: green;
}

#outer-anchored {
  position: absolute;
  right: anchor(--scroll-anchor start);
  top: anchor(--scroll-anchor bottom);
  background: lightblue;
}
