#my-anchor {
  anchor-name: --my-anchor;
}

#my-floating {
  --center: anchor(--my-anchor 50%);
  --full: anchor(--my-anchor 100%);

  position: absolute;
  right: var(--full);
  top: var(--center);
}
