#my-anchor-positioning {
  anchor-name: --my-anchor-positioning;
}

#my-floating-positioning {
  position: absolute;
  top: anchor(--my-anchor-positioning bottom);
  right: anchor(--my-anchor-positioning right, 50px);
}
