.scroll-container {
  height: 400px;
  overflow: scroll;
  width: 400px;
  border: solid;
  position: relative;
}

.placefiller-above-anchor {
  height: 150px;
}

.placefiller-before-anchor {
  display: inline-block;
  width: 150px;
}

.placefiller-after-anchor {
  height: 1000px;
  width: 1000px;
}

#scroll-anchor {
  anchor-name: --scroll-anchor;
}

#inner-anchored {
  position: absolute;
  bottom: anchor(--scroll-anchor top);
  left: anchor(--scroll-anchor end);
}

#outer-anchored {
  position: absolute;
  top: anchor(--scroll-anchor bottom);
  right: anchor(--scroll-anchor start);
}
