#my-anchor-math {
  anchor-name: --my-anchor-math;
}

#my-target-math {
  --full-math: anchor(--my-anchor-math 100%);

  position: absolute;
  top: calc(var(--full-math) - 50px);
  left: var(--full-math);
}
