#imports #target-1 {
  color: var(--brand-orange);
}

#imports #target-2 {
  position-area: block-end inline-start;
  color: var(--brand-orange);
}

#imports .anchor::before {
  content: url('./mail.svg');
}
