#my-anchor-positioning {
  anchor-name: --my-anchor-positioning;
  background: orange;
  margin-left: 100px;
  margin-top: 100px;
  width: 100px;
  height: 100px;
}

.another {
  anchor-name: --my-test-positioning;
}

.third {
  anchor-name: --my-test-positioning;
}

#my-floating-positioning {
  position: absolute;
  top: anchor(--my-anchor-positioning bottom, 50px);
  left: anchor(--my-anchor-positioning right);
  bottom: anchor(--my-anchor-positioning top, calc(20% + 20px));
  right: anchor(--nope top);
  position-fallback: --fallback1;
  width: 40px;
  height: 15px;
  margin: 5px;
  background: green;
}

@position-fallback --fallback1 {
  @try {
    /* 1: Position to the right of the anchor. */
    left: anchor(--my-anchor-positioning right);
    top: anchor(--my-anchor-positioning top);
    bottom: anchor(--nope top);
  }

  @try {
    /* 2: Position to the left of the anchor. */
    right: anchor(--my-anchor-positioning left);
    top: anchor(--my-anchor-positioning top);
  }

  @try {
    /* 3: Position to the bottom of the anchor. */
    left: anchor(--my-anchor-positioning left);
    top: anchor(--my-anchor-positioning bottom);
  }

  @try {
    /* 4: Position to the top of the anchor. */
    left: anchor(--my-anchor-positioning left);
    bottom: anchor(--my-anchor-positioning top);
  }

  @try {
    /* 5: Position to the left with the narrower width. */
    left: anchor(--my-anchor-positioning right);
    top: anchor(--my-anchor-positioning top);
    width: 35px;
    height: 40px;
  }
}
