#my-anchor-fallback {
  anchor-name: --my-anchor-fallback;
}

#my-target-fallback {
  position: absolute;

  /* First try to align the bottom, left edge of the target
     with the top, left edge of the anchor. */
  bottom: anchor(--my-anchor-fallback top);
  left: anchor(--my-anchor-fallback left);
  width: anchor-size(--my-anchor-fallback width);
  position-try-options: --bottom-left, --top-right, --bottom-right;
  position-try-fallbacks: --bottom-left, --top-right, --bottom-right;
}

@position-try --bottom-left {
  /* Next try to align the top, left edge of the target
     with the bottom, left edge of the anchor. */
  top: anchor(--my-anchor-fallback bottom);
  left: anchor(--my-anchor-fallback left);
  bottom: revert;
}

@position-try --top-right {
  /* Next try to align the bottom, right edge of the target
     with the top, right edge of the anchor. */
  bottom: anchor(--my-anchor-fallback top);
  right: anchor(--my-anchor-fallback right);
  left: revert;
}

@position-try --bottom-right {
  /* Finally, try to align the top, right edge of the target
     with the bottom, right edge of the anchor. */

  top: anchor(--my-anchor-fallback bottom);
  right: anchor(--my-anchor-fallback right);
  width: 100px;
  height: 100px;
  bottom: revert;
  left: revert;
}
