#my-anchor-fallback {
  anchor-name: --my-anchor-fallback;
}

#my-target-fallback {
  position: absolute;
  position-fallback: --fallback1;
}

@position-fallback --fallback1 {
  /* First try to align the bottom, left edge of the target
     with the top, left edge of the anchor. */
  @try {
    bottom: anchor(--my-anchor-fallback top);
    left: anchor(--my-anchor-fallback left);
  }

  /* Next try to align the top, left edge of the target
     with the bottom, left edge of the anchor. */
  @try {
    top: anchor(--my-anchor-fallback bottom);
    left: anchor(--my-anchor-fallback left);
  }

  /* Next try to align the bottom, right edge of the target
     with the top, right edge of the anchor. */
  @try {
    bottom: anchor(--my-anchor-fallback top);
    right: anchor(--my-anchor-fallback right);
  }

  /* Finally, try to align the top, right edge of the target
     with the bottom, right edge of the anchor. */
  @try {
    top: anchor(--my-anchor-fallback bottom);
    right: anchor(--my-anchor-fallback right);
    width: 100px;
    height: 100px;
  }
}
