#my-anchor-try-tactics {
  anchor-name: --my-anchor-try-tactics;
}

#my-anchor-try-tactics-2 {
  anchor-name: --my-anchor-try-tactics-2;
  top: 5em;
  left: 5em;
  position: relative;
}

#my-target-try-tactics {
  position-anchor: --my-anchor-try-tactics;
}

#my-target-try-tactics-2 {
  position-anchor: --my-anchor-try-tactics-2;
}

#my-target-try-tactics,
#my-target-try-tactics-2 {
  position: absolute;
  bottom: anchor(top);
  left: anchor(right);
  /* stylelint-disable-next-line property-no-deprecated */
  position-try-options: flip-block, flip-inline, flip-start;
  position-try-fallbacks: flip-block, flip-inline, flip-start;
}
